.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFCECE;
}

.header-item {
    width: 150px;
    height: 50px;
    display: flex;
    padding-top: 5px;
    align-items: flex-start;
}

.header-item:hover {
    background-color: #EEE;
}

.header-item>div {
    height: 40px;
    font-weight: bold;
}

.header-item>div>span {
    display: block;
    font-weight: normal;
}

.header-item>img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.main-image {
    background: url("../img/dragon-war.jpg") no-repeat center center;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-text {
    color: #FFF;
    font-size: 69;
    text-align: center;
}
