//@import 'external/semantic-ui.scss';
//@import 'external/kube.scss';

body {
    background: red;
}

.header {
    display: flex;
    margin: 0;
    padding: 1em;
    border-bottom: 1px solid #ccc;

    &.is-fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 10px;
    }

    .nav {
        list-style: none;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 0.5em;
                color: #aa8439;
            }
        }
    }
}
